body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
#div-principal{
    width: 1024px;
    margin: 40px auto;
}
.header-topo{
    height: 50px;
    background-color: #162028;
    position: relative;
}
.header-topo img{
    margin: 10px 0px 10px 180px;
}
.header-topo nav{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.header-topo ul{
    margin: 0;
    padding: 0;
}
.header-topo li{
    list-style: none;
    display: inline-block;
    margin: 0px 10px 0px 0px;
    padding: 15px;
}
.header-topo a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    color: #425567;
    transition: color 0.3s linear;
}
.header-topo a:hover{
    color: white;
}
.portfolio{
    padding: 50px 100px;
    text-align: center;
}
.portfolio h1{
    font-size: 36px;
    color: #252525;
}
.portfolio p{
    font-size: 16px;
    line-height: 2;
    color: #555;
}
.galeria{
    color: #555;
    padding: 0px 100px;
    overflow: auto;
}
.card-galeria{
    width: 33%;
    float: left;
    text-align: center;
}
.titulo-galeria{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
}
.artigo-sobre{
    background-color: #003d52;
    background-image: url(../imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    padding: 100px;
    color: white;
}
.artigo-sobre h2{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}
.artigo-sobre p{
    line-height: 1.5;
    width: 75%;
}
.contato{
    margin: 50px 0px;
}
.contato address{
    color: #143f52;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    font-style: normal;
}
.mapa{
    width: 100%;
    height: 450px;
    text-align: center;
    padding-bottom: 50px;
}
footer{
    background-color: #0b171f;
    padding: 25px;
    font-size: 12px;
    color: #6f8597;
    letter-spacing: 5px;
    text-align: center;
}